/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
}

:root {
  --main: hsl(193, 38%, 86%);
  --bg: hsl(217, 19%, 24%);
  --sc: #0b5ed7;
}

header p {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background: var(--bg);
  color: var(--main);
}

section {
  padding: 5px;
  height: calc(100vh - 55px);
  background: hsl(218, 23%, 16%);
}

.container {
  margin: auto;
}

body {
  font-family: Tahoma;
}

.area h2 {
  color: var(--main);
  width: 100%;
  margin: 10px auto;
  text-align: center;
  padding: 1em 10px;
  background: var(--bg);
  border-radius: 2rem;
  border: 2px solid var(--sc)
}

.answers {
  width: 340px;
  margin: auto;
  border-radius: 1rem;
  background: var(--bg);
  padding: 5px;
}


.answers div {
  margin: 10px auto;
  border: 1px solid var(--main);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 5px;
}

.submit {
  border: none;
  font-size: 20px;
  display: block;
  width: 60%;
  margin: auto;
  padding: 10px 15px;
  border-radius: 2rem;
  color: #fff;
  font-weight: bold;
  background: var(--sc);
  border: 1px solid #fff;
}

.submit:focus {
  outline: none;

}

.count {
  color: #fff;
}

.count span {
  font-size: 2em;
  color: var(--sc);
  font-weight: bold;

}

.progress {
  border: 1px solid #fff;
  height: 20px;
  position: relative;
  color: #fff;
  border-radius: 2rem;
  overflow: hidden;
}

.progress span {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--sc);
  height: 100%;
  width: 0;
  transition: all .5s;
}

.progress::after {
  content: attr(data-q);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}

.progress span::after {
  content: attr(data-current);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;

}


/* Custom input */
input {
  height: 0;
  width: 0;
}

label {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  padding-left: 40px;
  position: relative;
}

label::before,
label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #fff;
}

label::after {
  transition: all .5s;
  transform: translateY(-50%) scale(0);
}

input:checked~label::after {
  transform: translateY(-50%) scale(1);
  background: var(--sc);
}

input:checked~label {
  color: lime;
  font-weight: bold;
}

label:hover::after {
  background: var(--sc);
  transform: translateY(-50%) scale(.4);

}